*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.ColoRawe{
    color: #FFF;
font-family: Playfair Display;
font-size: 144px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
display: block;
}
ul, ol{
    list-style: none;
}
header{
    background: #012D63;
    align-items: center;
    padding: 20px 0;
}
.flex{
    display: flex;
    align-items: center;
}
.xelf{
    margin-right: 152px;
}
.headul{
    margin-right: 73px;
}
.headul2{
    display: flex;
}
.YourdreamNike{
    color: #FFF;
font-family: Playfair Display;
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
display: block;
}
.site{
    color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
display: block;
width: 508px;
margin-bottom: 41px;
}
.cr{
    color: #FFF;
font-family: PT Serif;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
display: block;
}
.emblema{
    margin: 0 ;
    width: 160px;
height: 120px;
flex-shrink: 0;
display: block;
}
.f{
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.f{
    margin-right: 29px;
}
.ff{
    color: #C7C7C7;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.ff{
    margin-right: 29px;
}
.ualink{
    color: #DCDCDC;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.sectia{
    background-image: url(Group\ 37\ \(1\)\ 1fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 91px;
    padding-bottom: 183px;
}
.baton{
    border-radius: 10px;
background: #8E32C6;
color: #FFF;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.puhka{
    color: #FFF;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.gmail{
    color: #FFF;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
}
.vseravno{
    color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.ua{
    display: inline;
}
.podval{
    background: #021635;
}
.head{
    display: flex;
}
.conte{
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.sectia2{
    background-image: url(Group\ 2\ 1fon4.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 21px;
    padding-bottom: 37px;
}
.orderh2{
    color: #FFF;
font-family: Playfair Display;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
margin-bottom: 33px;
}
.inputfor{
    display: block;
    width: 580px;
    height: 50px;
    border-radius: 50px;
background: #FFF;
padding-left: 24px;
color: #959595;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.inputfor:not(:last-child){
margin-bottom: 19px;
}
.knopka{
    width: 248px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 16px;
background: #8E32C6;
color: #FFF;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.forum{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.big{
    width: 690px;
height: 60px;
flex-shrink: 0;
}
.formspan{
    position: relative;
}
.enter{
    color: #8D8D8D;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
top: 13px;
right: 79px;
}
.hero1{
    background-image: url(Group\ 8\ 1fon2.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 105px 0;
}
.hero1-list{
    border: 5px solid #8E32C6;
    display: flex;
    align-items: center;
    padding: 25px 50px;
    justify-content: center;
}
.hero1-zag{
    width: 151px;
    height: 103px;
    margin: 0 auto;
    color: #FFF;
text-align: center;
font-family: Playfair Display;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hero1-zag1{
    margin: 0 auto;
    width: 161px;
height: 102px;
flex-shrink: 0;
    color: #FFF;
text-align: center;
font-family: Playfair Display;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hero1-zag2{
    width: 151px;
height: 103px;
flex-shrink: 0;
    color: #FFF;
text-align: center;
font-family: Playfair Display;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hero-img1{
    width: 240px;
height: 240px;
flex-shrink: 0;
}
.hero1-items3{
    position: relative;
}
.hero1-items3:not(:first-child){
    margin-left: 145px;
}
.hero1-items3:not(:last-child):after{
    right: -95px;
    top: 0px;
    position: absolute;
    content: '';
display: block;
width: 1px;
height: 346px;
background: #FFF;
}
.reviews{
    background-image: url(buket\ 2.png), url(Group\ 6\ 1fon3.png);
    background-position:left, center;
    background-size:contain, cover;
    background-repeat: no-repeat;
    padding-bottom: 115px;
    padding-top: 25px;
    }
    .reviews-zag{
        color: #FFF;
    text-align: center;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
    }
    .reviews-list{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .reviews-items:not(:first-child){
        margin-left: 93px;
    }
    .reviews-items{
        width: 255px;
        padding-top: 49px;
        padding-bottom: 29px;
    }
    .first{
        padding-left: 13px;
        border-radius: 15px;
    background: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
    box-shadow: 0px 14px 0px -5px #7B54B2, 0px 30px 0px -13px #533978;
    }
    .second{
        padding-left: 18px;
        border-radius: 15px;
    background: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow:  0px 14px 0px -5px #9159B1, 0px 30px 0px -13px #61337C;
    }
    .third{
        padding-left: 18px;
        border-radius: 15px;
    background: linear-gradient(143deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    box-shadow: 0px 14px 0px -5px #B95A4C, 0px 30px 0px -13px #732F26;
    }
    .reviews-text{
        /* margin: 0 auto; */
        width: 228px;
        margin-bottom: 10px;
        color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .reviews-time{
        margin-bottom: 47px;
        color: #D8D8D8;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .reviews-zag2{
        color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    }
    .reviews-date{
        color: #D8D8D8;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .reviews-block{
        display: flex;
    }
    .footer{
        background: #021635;
        padding-bottom: 45px;
      padding-top: 50px;
      }
      
      
      .footertext{
        color: #FFF;
      font-family: Roboto;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      }
      
      .footerlink{
        color: #FFF;
      font-family: Roboto;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;
      }
      
      .footerlistitem{
        display: flex;
        justify-content: space-between;
        
      }
      
      .footerlistitem:not(:last-child){
        margin-bottom: 10px;
      }
      
      .footerlist{
       border-bottom: 1px solid #9B9B9B;
       padding-bottom: 20px;
      }
      
      .container2{
        padding-top: 24px;
        display: flex;
        justify-content: space-between;
      }
      
      
      .footertext2{
        color: #FFF;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      
      }
      .footertext2:not(:last-child){
        margin-bottom: 7px;
      }
      .footerlogo{
        width: 108px;
        height: 81px;
        flex-shrink: 0;
      }
      
      
      .footertext3{
        color: #FFF;
      font-family: PT Serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0 auto;
      }
      
      .container3{
        display: flex;
        flex-direction: column;
        align-items: center;
      }