*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
}
.ulok{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
    justify-content: center;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.mark{
    border: 1px solid #EEE;
background: #FFF;
}
.tea{
    color: #212121;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 200% */
letter-spacing: 1.08px;
}
.pesh{
    color: #757575;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
letter-spacing: 0.48px;
}